/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used

Text Color (bone white): #dfd3c4;
Background Color (almost black): #121211;
Secondary Color (Orange): #ce5143;
*/


body {
  font-size: 15px;
  font-weight: normal;
  background-color: #121211;
  font-family: "Quicksand", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #dfd3c4;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*
Text
*/
p {
  font-size: 15px;
  font-weight: normal;
  color: #dfd3c4;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 14px;
  font-weight: normal;
  color: #dfd3c4;
  font-family: "Quicksand", sans-serif;
  margin-left: 15px;
}

h2 {
  font-size: 7vw;
  line-height: 0.9;
  margin: 0;
  font-weight: normal;
  color: #dfd3c4;
  font-family: "Libre Caslon Text", serif;
}

h3 {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  font-weight: normal;
  color: #dfd3c4;
  font-family: "Quicksand", sans-serif;
}

a {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  color: #dfd3c4;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

a img:hover {
  opacity: 0.8;
}

a:visited {
  color: #dfd3c4;
}

a:hover {
  color: #ce5143;
  opacity: 0.8;
}

a:active {
  color: #dfd3c4;
}

/*
MENU
*/
ul {
  text-align: right;
  list-style-type: none;
  padding-top: 200px;
  padding: 0;
  margin-right: 50px;
}

li {
  display: inline;
  margin: 5px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
}

footer {
  background-color: #ce5143;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

footer img {
  width: 25px;
  height: 25px;
}

/*
Buttons
*/
.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ce5143;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #ce5143;
  background-color: #dfd3c4;
}

input[type=reset] {
  border: none;
  font-family: inherit;
  background-color: #dfd3c4;
  color: #ce5143;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ce5143;
}

input[type=reset]:hover,
input[type=reset]:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #ce5143;
  background-color: #dfd3c4;
}

span.text-highlight {
  color: #ce5143;
}

table, th, td {
  border: 1px solid #dfd3c4;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

input[type=text] {
  width: 255px;
}

label {
  position: relative;
  left: -100px;
}

/*
grid
*/
.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;
  }

  .grid__item {
    background-color: #ce5143;
    color: #dfd3c4;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .grid__item p {
    color: #dfd3c4;
  }

  .grid__item a {
    color: #dfd3c4;
  }

  .grid__item a:hover {
    color: #121211;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}
.profile__portrait {
  float: left;
}

/*
animations
*/
@-webkit-keyframes color-change {
  from {
    fill: #ce5143;
  }
  to {
    fill: #f76414;
  }
}
@keyframes color-change {
  from {
    fill: #ce5143;
  }
  to {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0px, 150px);
    transform: translate(0px, 150px);
  }
  to {
    -webkit-transform: translate(600px, 150px);
    transform: translate(600px, 150px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0px, 150px);
    transform: translate(0px, 150px);
  }
  to {
    -webkit-transform: translate(600px, 150px);
    transform: translate(600px, 150px);
  }
}
@-webkit-keyframes skyline {
  from {
    -webkit-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
  }
  to {
    -webkit-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
  }
}
@keyframes skyline {
  from {
    -webkit-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
  }
  to {
    -webkit-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
  }
}
.skyline {
  -webkit-animation: 10s skyline infinite alternate linear;
  animation: 10s skyline infinite alternate linear;
}

.plane {
  -webkit-animation: 10s cloud-move infinite alternate linear;
  animation: 10s cloud-move infinite alternate linear;
  fill: #ce5143;
}

.color-transform {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

.svg-image {
  position: relative;
  bottom: 80px;
  z-index: -1;
}

/*
Media Query
*/
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .svg-image {
    position: relative;
    bottom: 80px;
    z-index: -1;
    width: 300px;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h2 {
    font-size: 22px;
  }
}
